.mnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 50px;
}
.logo-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    height: 10px;
    width: 30px;
    padding-right: 10px;
}

.hamburger{
    color: rgb(54, 59, 62);
}