nav{
    background-color: black;
}

@media only screen and (max-width:400px){
    :root{
        font-size: .8em;
    }

    a{
        color: white;
        text-decoration: none;
    }
    nav{
        min-width: 100vw;
        border: solid 2px white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: 0 5px;
    }

    nav ul{
        display: none;
    }

    .hamburger-icon{
        width: 50px;
    }

    nav .logo{
        padding: 10px;
    }
}