.wrapper{
    height: fit-content;
}

main{
    height: 100vh;
}

@media  only screen and (max-width: 400px) {
    .main-wrapper{
        margin: 0 10px;
        border: solid 2px orange;
    }
    .main-wrapper > div {
        border: solid 2px violet;
        width: auto

    }

    .headings{
        position: relative;
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .icons {
        position: relative;
        top: 100px;
    }

}