.navdrawer{
    position: fixed;
    z-index: 10000;
    background-color: black;
    border: solid 2px blue;
}

.drawer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px red;
    height: 100vh;
}
