.home-container{
    max-width: 100%;
    height: 100vh;
    color: black;
}

#title{
    background-color: bisque;
    border: solid 2px red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: space-around center;
}

.lower{
    color: red;
}

